.root {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: calc(100vw - 8rem);
  flex-direction: column;
  justify-content: center;
  color: rgb(var(--foreground));
}

.item {
  border-bottom: 1px solid rgb(var(--border));
}

.header {
  margin: 0;
}

.trigger {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: baseline;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-inline: 0.75rem 0.25rem;
  color: rgb(var(--foreground));
  font-family: inherit;
  font-weight: 500;
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
  background: rgb(var(--muted) / 0.25);
  border: none;
  outline: none;
  text-align: left;
}

@media (hover: hover) {
  .trigger:hover {
    background-color: rgb(var(--muted) / 0.4);
  }
}

.trigger:focus-visible {
  outline: 2px solid rgb(var(--ring));
  z-index: 1;
}

.panel {
  box-sizing: border-box;
  height: var(--accordion-panel-height);
  overflow: hidden;
  color: rgb(var(--muted-foreground));
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
  transition: height 150ms ease-out;
  padding: 0.75rem;
}

.panel[data-starting-style],
.panel[data-ending-style] {
  height: 0;
}
