.root {
  display: flex;
  width: 14rem;
  min-height: 9rem;
  flex-direction: column;
  justify-content: center;
  color: rgb(var(--foreground));
}

.trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(var(--muted));
  color: rgb(var(--foreground));
  font-family: inherit;
  font-size: var(--text-sm);
  line-height: var(--text-sm-line-height);
  font-weight: 500;

  @media (hover: hover) {
    &:hover {
      background-color: rgb(var(--border));
    }
  }

  &:active {
    background-color: rgb(var(--border));
  }

  &:focus-visible {
    outline: 2px solid rgb(var(--ring));
  }
}

.panel {
  display: flex;
  height: var(--collapsible-panel-height);
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  font-size: var(--text-sm);
  line-height: var(--text-sm-line-height);
  transition: all 150ms ease-out;
}

.panel[hidden]:not([hidden='until-found']) {
  display: none;
}

.panel[data-starting-style],
.panel[data-ending-style] {
  height: 0;
}
