.root {
  border: 1px solid rgb(var(--border));
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: rgb(var(--background));
}

.error {
  border-color: rgb(var(--destructive));
}

.legend {
  padding: 0 0.5rem;
  color: rgb(var(--foreground));
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
  font-weight: 500;
}
