.field {
  display: flex;
  align-items: center;
}

.label {
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
  font-weight: 500;
  color: rgb(var(--foreground));
}

.label-disabled {
  color: rgb(var(--muted-foreground));
}

.description {
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
  color: rgb(var(--muted-foreground));
}

.description-disabled {
  color: rgb(var(--muted-foreground));
}

.switch {
  margin-left: 0.5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  appearance: none;
  border: 0;
  padding: 1px;
  border-radius: 1.5rem;
  outline: 1px solid;
  outline-offset: -1px;
  background-color: transparent;
  background-image: linear-gradient(to right, rgb(var(--foreground)) 35%, rgb(var(--border)) 65%);
  background-size: 6.5rem 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition-property: background-position, box-shadow;
  transition-timing-function: cubic-bezier(0.26, 0.75, 0.38, 0.45);
  transition-duration: 125ms;
}

.switch-sm {
  width: 2.5rem;
  height: 1.5rem;
}

.switch-md {
  width: 2.5rem;
  height: 1.5rem;
}

.switch-lg {
  width: 2.5rem;
  height: 1.5rem;
}

.thumb {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 9999px;
  background-color: white;
  transition: translate 150ms ease;
}

.thumb-sm {
  transform: translateX(0);
}

.switch[data-checked] .thumb-sm {
  translate: 1rem 0;
}

.thumb-md {
  transform: translateX(0);
}

.switch[data-checked] .thumb-md {
  translate: 1rem 0;
}

.thumb-lg {
  transform: translateX(0);
}

.switch[data-checked] .thumb-lg {
  translate: 1rem 0;
}
