@import "tailwindcss";

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: -124;
  }
}

@utility animate-spinner-rotate {
  animation: spinner-rotate 1.5s linear infinite;
}

@utility animate-spinner-dash {
  animation: spinner-dash 1.5s ease-in-out infinite;
}

